#map-canvas {
	width : 100% ;
	height: 80% ;
}

label{
  cursor: pointer;
  padding:5px;
  border: 1px solid #434343;
  border-radius: 5px;
}

input{
  display: none;
}

#koekake:checked + .label {
  background-color: #498dfc;
}

#chikan:checked + .label {
  background-color: #f7f771;
}

#tsukimatoi:checked + .label {
  background-color: #f47b5d;
}

#rosyustu:checked + .label {
  background-color: #79f779;
}

#fusinsha:checked + .label {
  background-color: #b45bef;
}

#sonota:checked + .label {
  background-color: #f783c4;
}

label:hover {
 border: 2px solid #434343;
}
